@page "/politica-de-privacidade"

<h1 class="mt-5">Política de Privacidade</h1>

<p>O nosso site não requer nenhum tipo de login ou cadastro para realizar pesquisas. Garantimos que as informações fornecidas serão mantidas em total sigilo e segurança, e não serão compartilhadas com terceiros sem o consentimento prévio do usuário.</p> 

<p>Não utilizamos cookies ou qualquer outra forma de rastreamento para coletar informações pessoais dos usuários. Todas as pesquisas realizadas são anônimas e não armazenamos nenhum tipo de informação de identificação pessoal.</p> 

<p>
    Nosso objetivo é fornecer uma ferramenta simples e confiável para a busca de informações de empresas através do CNPJ, Para garantir ainda mais a privacidade dos usuários, nosso site utiliza conexão segura (HTTPS), criptografando todas as informações que são transmitidas entre o navegador do usuário e o servidor. Além disso, contamos com medidas de segurança para proteger contra possíveis ataques cibernéticos ou tentativas de acesso não autorizado aos dados dos usuários.

    Cabe ressaltar que as informações disponibilizadas em nosso site são de fontes públicas e de acesso irrestrito, sendo que não somos responsáveis ​​pela veracidade ou atualização das informações fornecidas. Nosso objetivo é apenas fornecer uma ferramenta para facilitar o acesso às informações de empresas registradas nos órgãos competentes.

    Esta política de privacidade pode ser atualizada a qualquer momento, sem aviso prévio. Sugerimos que o usuário consulte regularmente esta página para estar ciente das mudanças adversas.

     Agradecemos por escolher o nosso site para realizar suas pesquisas por CNPJ e esperamos que possamos atender suas expectativas de forma satisfatória.
</p>