@page "/termos-de-uso"

<h1 class="mt-5">Termos de Uso - Pesquisar Empresa por CNPJ</h1>

<p>Bem-vindo ao site. Este site permite buscar informações de empresas por meio de seus CNPJs. Ao acessar ou usar este site, você concorda com os termos e condições descritos abaixo.</p>

<h2 class="mt-5">Uso do Site</h2>
<p>O site é de acesso público, gratuito e não requer registro para uso. Você pode usar este site para buscar informações de empresas por meio de seus CNPJs. O Site é destinado apenas para uso pessoal e não comercial. O uso do Site não concede a você nenhum direito de propriedade intelectual sobre o conteúdo do Site. É proibido o uso do Site para fins ilegais ou não autorizados.</p>

<h2 class="mt-5">Informações do Usuário</h2>
<p>Para usar o Site, você precisará fornecer algumas informações pessoais, incluindo seu nome e endereço de e-mail. Todas as informações fornecidas devem ser precisas e verdadeiras. Ao fornecer suas informações, você concorda em permitir que o Site as armazene e use para os fins previstos nestes Termos.</p>

<h2 class="mt-5">Propriedade Intelectual</h2>
<p>Todos os direitos de propriedade intelectual relacionados ao Site, incluindo marcas registradas, direitos autorais, patentes e segredos comerciais, são de propriedade exclusiva do Site ou de seus licenciadores. Nenhum conteúdo do Site pode ser copiado, reproduzido, distribuído ou transmitido sem autorização prévia por escrito do proprietário dos direitos autorais. </p>

<h2 class="mt-5">Links para Sites de Terceiros</h2>
<p>O Site pode conter links para sites de terceiros. Esses links são fornecidos apenas para conveniência e não representam nenhum endosso do Site em relação ao conteúdo ou à política de privacidade desses sites. O Site não é responsável pelo conteúdo ou pelas práticas de privacidade de sites de terceiros.</p>

<h2 class="mt-5">Limitação de Responsabilidade</h2>
<p>O Site não se responsabiliza por qualquer dano direto, indireto, incidental, especial ou consequencial decorrente do uso ou incapacidade de uso do Site, incluindo perda de lucros, interrupção de negócios, perda de informações ou outros prejuízos econômicos, mesmo que o Site tenha sido avisado da possibilidade de tais danos.</p>

<h2 class="mt-5">Alterações nos Termos</h2>
<p>O Site reserva-se o direito de modificar estes Termos a qualquer momento, sem aviso prévio. Ao continuar a usar o Site após a publicação das modificações, você concorda em cumprir os novos Termos.</p>

<h2 class="mt-5">Lei Aplicável e Jurisdição</h2>
<p>Estes Termos serão regidos e interpretados de acordo com as leis do Brasil. Qualquer litígio decorrente destes Termos será resolvido exclusivamente pelos tribunais do Brasil.</p>
