<footer class="bg-dark text-white py-3 fixed-bottom" id="footer" name="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="m-0">Copyright © @_currentYear - Pesquisar Empresa por CNPJ</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="/termos-de-uso" id="termos-uso" name="termos-uso" class="text-white me-3">Termos de Uso</a>
                <a href="/politica-de-privacidade" id="politica-privacidade" name="politica-privacidade" class="text-white">Política de Privacidade</a>
            </div>
        </div>
    </div>
</footer>